* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --black: rgb(12, 11, 8);
  --white: rgb(250, 250, 245);
  --gray: rgb(235, 235, 229);
  --main-pale: rgb(246, 232, 215);
  --main: rgb(255, 183, 96);
  --main-dark: rgb(32, 62, 73);
  --home-transition: 0.2s;
}