* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: rgb(12, 11, 8);
  --white: rgb(245, 245, 240);
  --yellow: rgb(235, 215, 100);
}

body {
  min-height: 100%;
  background-color: var(--black);
}